.production {
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 35px;
  color: #444444;
}

.production__title {
  margin: 0;
  margin-left: 92px;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.production__video {
  margin-bottom: 25px;
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 28px;
  margin-left: 32px;
  margin-right: 34px;
}
