.contacts {
  font-size: 15px;
  line-height: 30px;
  padding: 0 30px;
  width: 260px;
}

.contacts__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 26px;
  font-weight: bold;
}

.contacts__item {
  margin: 0;
  display: flex;
  color: #444444;
  position: relative;
}

.contacts__item:nth-child(2) {
  width: 230px;
}

.contacts__mail-link {
  text-decoration: none;
  color: #000000;
  position: relative;
}

.contacts__mail-link:hover {
  color: #46c1ae;
}

.contacts__mail-link:active {
  opacity: 0.3;
}

.contacts__mail-link::after {
  content: "";
  height: 1px;
  background-color: #46c1ae;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.contacts__field {
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    font-size: 17px;
    padding: 0 50px;
    width: 668px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__field {
    margin-right: 24px;
  }

  .contacts__mail-link::after {
    bottom: 60px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__item:nth-child(2) {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 40%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 53px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__wrapper {
    flex-direction: column;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__item:nth-child(2) {
    width: 341px;
  }

  .contacts__mail-link::after {
    bottom: 30px;
  }
}
