.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 26px 30px;
  padding-bottom: 22px;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 668px;
    padding: 0 50px;
    padding-top: 35px;
    padding-bottom: 50px;
    display: flex;
  }

  .page-footer__logo {
    display: block;
    margin-top: 14px;
  }

  .page-footer__logo:hover svg {
    fill: #46c1ae;
  }

  .page-footer__logo:active {
    opacity: 0.3;
  }

  .page-footer__social {
    margin-left: 159px;
  }

  .page-footer__copyright {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
    padding: 35px 50px;
    padding-bottom: 50px;
  }

  .page-footer__wrapper--index {
    padding-right: 100px;
    padding-left: 100px;
  }

  .page-footer__social {
    margin-left: 349px;
  }

  .page-footer__logo {
    margin-left: 1px;
  }
}
