.page-header {
  width: 320px;
  padding-top: 22px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #ececec;
  position: relative;
  z-index: 2;
}


@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    padding: 0 50px;
    border: none;
  }

  .page-header__main-navigation {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
    padding: 0 50px;
  }
}
