.social__list {
  list-style: none;
  margin: 0;
  padding: 0 42px;
  padding-left: 38px;
  padding-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.social__item {
  margin: 0 20px;
}

.social__item:nth-child(3n+3) {
  margin-right: 0;
}

.social__link:hover svg {
  fill: #46c1ae;
}

.social__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    width: 143px;
    margin-top: 24px;
  }

  .social__item {
    margin-right: 35px;
    margin-left: 0;
    width: 24px;
    text-align: center;
  }

  .social__item:nth-child(3n+3) {
    margin-right: 0;
  }
}
