.product-card {
  border: 1px solid #ececec;
  color: #444444;
  padding: 0;
  padding-bottom: 25px;
}

.product-card__img {
  margin-bottom: 30px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__name {
  margin: 0;
  margin-left: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.product-card__parameters {
  font-size: 13px;
  line-height: 30px;
  width: 208px;
  border-bottom: 1px solid #ececec;
  margin: 0;
  margin-bottom: 25px;
  margin-left: 28px;
}

.product-card__cost {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  margin-left: 28px;
}
