.advantages {
  padding: 28px 30px;
}

.advantages__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.advantages__item {
  padding-top: 84px;
  background-repeat: no-repeat;
  padding-right: 60px;
}

.advantages__item:nth-child(n+4) {
  padding-right: 9px;
}

.advantages__item--flower {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 8px 32px;
}

.advantages__item--ball {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 3px 32px;
}

.advantages__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 3px 29px;
}

.advantages__item--heart {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 7px 36px;
}

.advantages__item--money {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 0 33px;
}

.advantages__item--rocket {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 0 32px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 51px 50px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item {
    width: 50%;
    box-sizing: border-box;
    padding-top: 104px;
    margin-bottom: 6px;
    padding-right: 92px;
  }

  .advantages__item:nth-child(n+4) {
    padding-right: 40px;
  }

  .advantages__item:nth-child(3n+2) {
    order: 1;
  }

  .advantages__item:nth-child(3n+3) {
    order: 2;
  }

  .advantages__item--flower {
    background-position: 8px 49px;
  }

  .advantages__item--money {
    background-position: 1px 51px;
  }

  .advantages__item--heart {
    background-position: 8px 56px;
  }

  .advantages__item--ball {
    background-position: 3px 52px;
  }

  .advantages__item--rocket {
    background-position: 0 54px;
  }

  .advantages__item--gift {
    background-position: 3px 53px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 56px 175px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__item {
    padding-right: 114px;
  }

  .advantages__item:nth-child(n+4) {
    padding-right: 55px;
  }
}
