.main-navigation {
  padding: 0;
  position: relative;
}

.main-navigation__toggle {
  position: absolute;
  right: 0;
  top: -50px;
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

.main-navigation__toggle--close {
  background-image: url("../img/icon-menu-close.svg");
  height: 20px;
}

.main-navigation__toggle--open {
  background-image: url("../img/icon-menu-open.svg");
}
