.main-navigation {
  padding: 0;
  position: relative;
}

.main-navigation__logo {
  margin: 0;
  margin-bottom: 40px;
  display: block;
}

.main-navigation__toggle {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

.main-navigation__toggle--close {
  background-image: url("../img/icon-menu-close.svg");
  height: 20px;
}

.main-navigation__toggle--open {
  background-image: url("../img/icon-menu-open.svg");
}

.main-navigation__site-list {
  margin: 0;
}

.main-navigation__user-list {
  margin: 0;
}

.main-navigation__sale-list {
  margin: 0;
}

.main-navigation__free-order-text {
  display: none;
  text-align: right;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  font-weight: normal;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__logo {
    align-self: center;
    margin: 0;
  }

  .main-navigation__user-list {
    margin-left: auto;
  }

  .main-navigation__site-list {
    margin: 0;
    order: 2;
  }

  .main-navigation__free-order-text {
    display: block;
    order: 3;
    margin-left: auto;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-navigation__site-list {
    margin: 0;
    order: -1;
    margin-right: auto;
  }

  .main-navigation__user-list {
    margin-left: auto;
  }
}
