.site-list {
  padding: 0;
  list-style: none;
}

.site-list__item {
  border-top: 1px solid #ececec;
}

.site-list__link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0 30px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 54px;
  text-align: center;
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    font-size: 15px;
  }

  .site-list__item {
    text-align: left;
    border: none;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 27px;
    margin-right: 36px;
  }

  .site-list__link {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 17px;
  }

  .site-list__item {
    padding-top: 31px;
  }

  .site-list__item:nth-child(1) {
    margin-right: 34px;
    padding-right: 49px;
    border-right: 1px solid #ececec;
  }
}
