.offers__link {
  display: block;
  width: 320px;
  margin: 0 -30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
}

.offers__link--light {
  background-color: #63d1bb;
}

.offers__link--dark {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .offers {
    display: flex;
  }

  .offers__link {
    width: 50%;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    padding-right: 137px;
  }
}

@media (min-width: $desktop-width) {
  .offers__link {
    padding-right: 355px;
  }
}
