.location {
  padding: 36px 30px;
  padding-bottom: 39px;
}

.location__contacts {
  margin-bottom: 37px;
}

.location__map {
  margin: 0 -30px;
  margin-bottom: 36px;
  width: 320px;
  position: relative;
}

.location__map-img {
  width: 322px;
  height: 457px;
}

.location__map::before {
  content: "";
  width: 67px;
  height: 100px;
  background-image: url("../img/icon-map-pin.svg");
  position: absolute;
  top: 144px;
  left: 138px;
}

@media (min-width: $tablet-width) {
  .location {
    padding: 57px 50px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 668px 41px;
  }

  .location__contacts {
    margin-bottom: 56px;
  }

  .location__wright-us {
    width: 230px;
    margin-left: 219px;
  }

  .location__map {
    margin: 0 -50px;
    margin-bottom: 51px;
    width: 768px;
  }

  .location__map-img {
    width: 100%;
    height: 457px;
  }

  .location__map::before {
    top: 138px;
    left: 363px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    padding-left: 175px;
    padding-right: 0;
    padding-top: 75px;
    padding-bottom: 102px;
    display: flex;
    flex-wrap: wrap;
    background-position: 63px 137px;
  }

  .location__map {
    width: 60%;
    margin: 0;
  }

  .location__map-img {
    width: 525px;
    height: 457px;
  }

  .location__map::before {
    top: 145px;
    left: 238px;
  }

  .location__wright-us {
    align-self: center;
    margin-top: -58px;
    margin-left: 0;
  }
}
