.contacts {
  font-size: 15px;
  line-height: 30px;
  border-collapse: collapse;
}

.contacts__title {
  font-size: 18px;
  margin-bottom: 36px;
  font-weight: bold;
  text-align: left;
}

.contacts__field {
  width: 76px;
  vertical-align: top;
}
